:root {
    --ff-primary: 'Syncopate', sans-serif;;
    --ff-secondary: 'Nunito', sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: rgb(255, 168, 168);
    --clr-accent_transp: rgba(255, 168, 168, 0.7);

    --fs-h1: 2rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs:        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);   

    --TestBG: url("img/test1.jpg");
    --mask: url("img/mask-img.png");

    --dotBlur: 5px;
}



body {
    margin: 0;
}

#map {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.marker {
    background-image: url('../img/mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.waypointMarker{
    
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#OverlayContainer {
    z-index: 1;
}

#MenueContainer {
    background: rgb(255, 255, 255);
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 50px;

    font-family: 'Open Sans', sans-serif;

    box-shadow: var(--bs);
}



.drawingTest_cont {
    position: absolute;
    z-index: 2;
    pointer-events: none;
    filter: blur(var(--dotBlur));
}

.AddPopUp{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: var(--bs);
    z-index: 2;
    position: relative;
    top:530px;
    width: 130px;
    overflow: visible;
}